html, body{
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    background: linear-gradient(to right, lightblue 40%, white);
    font-family: "Arial Rounded MT Bold", sans-serif;
}

* {
    outline: none;
    font-size: 23px;
    color: #505350;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --main-color: dodgerblue;
}

.custom-search {
    padding: 30px;
}

.custom-search__form__input {
    width: 78%;
    display: inline-block;
}

[name="search"],
[name="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 3px solid grey;
}

.custom-search__form__submit {
    display: inline-block;
    width: 20%;
    float: right;
}

[name="submit"] {
    cursor: pointer;
    color: white;
}

.custom-search__results {
    margin-top: 30px;
    display: block;
}

.result-hide {
    display: none;
}

.custom-search__results__web,
.custom-search__results__img {
    width: 47%;
    height: 70vh;
    border: 3px solid grey;
    border-radius: 10px;
    padding: 10px;
    display: inline-block;
}

.custom-search__results__web {
    float: right;
}

.custom-search__results__img {
    float: left;
}

.custom-search__form__error {
    display: none;
}

.show-display {
    display: block;
    text-align: center;
    margin-top: 30px;
    background: #ff776d;
    padding: 15px;
    border-radius: 10px;
    color: white;
}

.custom-search__results__img__container div{
    display: inline-block;
    width: 48%;
    height: 217px;
    margin: 1%;
}

.custom-search__results__img__container div img {
    width: 100%;
    height: 100%;
}

.custom-search__results__web__container div a{
    color: var(--main-color);
}

.custom-search__results__web__container div a, h5 {
    font-size: 18px;
}

.custom-search__results__web__container div h5 {
    margin: 15px 0;
}

.pages {
    padding: 5px 100px;
}

.pages ul{
    list-style-type: none;
}

.pages ul li {
    display: inline;
    margin: 0 5px;
    cursor: pointer;
    color: var(--main-color);
}

.page-active {
    text-decoration: underline;
}